@model ofCourse.Models.Course

@{
    ViewBag.Title = "CourseForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Course</h2>


@using (Html.BeginForm("Save", "Courses"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.CourseName)
        @Html.TextBoxFor(m => m.CourseName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CourseName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CourseDescription)
        @Html.TextBoxFor(m => m.CourseDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CourseDescription)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TutorName)
        @Html.TextBoxFor(m => m.TutorName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TutorName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CourseRating)
        @Html.TextBoxFor(m => m.CourseRating, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CourseRating)
    </div>


    @Html.HiddenFor(m => m.Id)

    <button type="submit" class="btn btn-primary">Save</button>
}
<p></p>
@using (Html.BeginForm("Delete", "Courses"))
{@Html.HiddenFor(m => m.Id) <button type="submit" class="btn btn-danger">Delete</button>}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}